<div id="myCarousel" class="carousel slide" data-ride="carousel">
	</ol>   
	<!-- Wrapper for carousel items -->
	<div class="carousel-inner">
		{% for affirmation in affirmations %}
			{% if loop.index == 1 %}
				<div class="item active">
					<div class="text_container">
						<h1> {{ affirmation.comment }} </h1>
					</div>
				</div>
			{% else %}
				<div class="item">
					<div class="text_container">
						<h1> {{ affirmation.comment }} </h1>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
